[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
django-recurrence = {ref = "main", git = "https://github.com/infofactory/django-recurrence.git"}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
